<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/landing.css">
    <title>Landing</title>
</head>
<body>
    <div class="coverphoto">
        <div class="image-slider">
             
        </div>

        <div class="text-overlay">
            <span class="enlarged-letters">W</span><span>e Only Deal With</span>
            <div class="green-line"></div> <!-- Green line below the text and image --> <br>
            <span class="lavishly-yours-text">Traditonal Dresses and Handicrafts</span>

        </div>
        <button><a href="login.html">Get Started</a></button>
    
    </div>

    <div class="aboutus">
        <h2>About Us</h2>
        <div class="aboutusimg">
            <img src="./image/aboutus_image.jpg" alt="">
        </div>
        <div class="desc">
            <span>At Himalayan Hues, our journey began with a deep 
                appreciation for Bhutanese culture and a desire to
                share its beauty with the world. Founded by a team 
                of passionate individuals who have a genuine love 
                or Bhutan and its traditions, our store was born
                out of a vision to promote and preserve the
                artistry of this unique Himalayan kingdom..</span><br><br>

            <span>Today we are one of the largest and most popular  
                Bhutanese traditional dress and handicrafts dealer
                in Bhutan. We sell our customers high-quality 
                products of any type of those.</span>
        </div>
    </div>

    <div class="product">
        <h2>Products</h2>
        <div class="imgcontainer">
            <div class="boyimg">
              <img class="boy" src="./image/boy.png" alt="boy">
          </div>
          <div class="boyimg">
            <img class="adv" src="./image/dresses.png" alt="dresses" style="width: 20%; height: 7cm;">

          </div>
          <div class="boyimg">
            <img class="adv" src="./image/handicrafts.png" alt="handicraft" style="width: 20%; height: 7cm;">

          </div>
          <div class="boyimg">
            <img class="boy" src="./image/girl.png" alt="girl">

          </div>
        </div>
        

    </div>

    <div class="ourteams">
        <h2>Meet Our Team!</h2>

        <div class="container">
            <div class="card">
              <img src="./image/Bidash.jpg" alt="Bidash Gurung">
              <div class="info">
                <h3>Bidash Gurung</h3>
                <p>bidashgurung@gmail.com</p>
                <p>+975 17 123 456</p>
              </div>
            </div>
            <div class="card">
              <img src="./image/deepak.jpg" alt="Deepak Ghaley">
              <div class="info">
                <h3>Deepak Ghaley</h3>
                <p>deepakghaley@gmail.com</p>
                <p>+975 17 654 321</p>
              </div>
            </div>
            <div class="card">
              <img src="./image/pemaChozom.jpg" alt="Pema Chozom">
              <div class="info">
                <h3>Pema Chozom</h3>
                <p>pemachozom@gmail.com</p>
                <p>+975 17 789 012</p>
              </div>
            </div>
            <div class="card">
              <img src="./image/wangyel.jpg" alt="Jigme Wangyal Wangchuk">
              <div class="info">
                <h3>Jigme Wangyal Wangchuk</h3>
                <p>jigmewangyalwangchuk@gmail.com</p>
                <p>+975 17 345 678</p>
              </div>
            </div>
          </div>
        <div class="whiteline">
        </div>
    </div>
 </body>
 <footer>
    <div class="banner">
        <h1>Gyalpozhing College of Information Technology</h1>
        <p>Kabjisa: Thimphu</p>
        <p>HimalayanHues07@gmail.com</p>
      </div>
 </footer>
</html>